<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Hall of Fame</title>
  <% include partials/head %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="imagegallery.css">
</head>

<body>
  <div id="backgroundDiv"></div>
  <% include partials/header %>
    <div class="container body-content">
		
		<div class="title text-center">
			<span class="display2">
			  Recent Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.Recent.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> by <%= challenge.creator %></span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  Holidays Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.Holidays.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> <% if (challenge.creator) { %> by <%= challenge.creator %> <% } else{ %> <% } %> </span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  DannyB Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.DannyB.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> by <%= challenge.creator %></span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  Dungeonfire Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.Dungeonfire.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> by <%= challenge.creator %></span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  Mrbubbleskp Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.Mrbubbleskp.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> by <%= challenge.creator %></span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  SnipingG117 Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.Sniping.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> by <%= challenge.creator %></span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  PsyMarth Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.PsyMarth.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> by <%= challenge.creator %></span>
					</a>
				</li>
			<% }); %>
		</ul>
		<div class="title text-center">
			<span class="display2">
			  MP16 Challenges
			</span>
		</div>
		
		<ul id="rig">
			<% data.MP16.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> by <%= challenge.creator %></span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  Others Challenges
			</span>
		</div>
		<ul id="rig">
			<% data.main.forEach((challenge, i) => { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/> <% if (challenge.creator) { %> by <%= challenge.creator %> <% } else{ %> <% } %> </span>
					</a>
				</li>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  Ocarina of Time Puzzle Race Serie
			</span>
		</div>
		<ul id="rig">
			<% data.OoTPuzzleRaceSerie.forEach((challenge, i) => { %>
			 <% if (challenge.image) { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/>Puzzle #<%= challenge.number %><br/><br/><% if (challenge.creator) { %> by <%= challenge.creator %> <% } else{ %> <% } %> </span>
					</a>
				 </li>
				 <% } else{ %>  
				 <li>
					<a class="rig-cell" href="">
						<img class="rig-img" src="/images/QuestionMark.png" style="background-color:black;">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/>Puzzle #<%= challenge.number %><br/><br/> by <%= challenge.creator %></span>
					</a>
				 </li>
				<% } %>
			<% }); %>
		</ul>
		
		<div class="title text-center">
			<span class="display2">
			  Impromptu Serie
			</span>
		</div>
		<ul id="rig">
			<% data.Impromptu.forEach((challenge, i) => { %>
			 <% if (challenge.image) { %>
				<li>
					<a class="rig-cell" href="<%= challenge.image %>">
						<img class="rig-img" src="<%= challenge.image %>">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/>Impromptu #<%= challenge.number %><br/><br/><% if (challenge.creator) { %> by <%= challenge.creator %> <% } else{ %> <% } %> </span>
					</a>
				 </li>
				 <% } else{ %>  
				 <li>
					<a class="rig-cell" href="">
						<img class="rig-img" src="/images/QuestionMark.png" style="background-color:black;">
						<span class="rig-overlay"></span>
						<span class="rig-text"><%= challenge.title %><br/><br/>Impromptu #<%= challenge.number %><br/><br/> by <%= challenge.creator %></span>
					</a>
				 </li>
				<% } %>
			<% }); %>
		</ul>
		
	  </div>
    </div>
</body>

</html>
